{% extends "StriideTinyurlBundle::layout.html.twig" %}

{% block striide_tinyurl_content %}

<h1>Url Show</h1>

<table class="table table-condensed table-bordered">
  <tbody>
    <tr>
      <th>ID</th>
      <td>{{ entity.id }}</td>
    </tr>
    <tr>
      <th>Short</th>
      <td>{{ entity.short }} - <a href="{{ path('StriideTinyurlBundle_url', {'short': entity.short }) }}">try</a></td>
    </tr>
    <tr>
      <th>URI</th>
      <td><a href="http://{{ domain_name }}{{ entity.uri }}">{{ entity.uri }}</a></td>
    </tr>
    <tr>
      <th>Clicks</th>
      <td>{{ entity.clicks }}</td>
    </tr>
    <tr>
      <th>Created</th>
      <td>{{ entity.createdAt | date("Y-m-d g:ia") }}</td>
    </tr>
  </tbody>
</table>

<p>
  {#
  <a class="btn" href="{{ path('StriideTinyurlBundle_admin_url_index') }}">Back to list</a>
  #}
</p>

{% endblock striide_tinyurl_content %}
